.template-bg-lightGray {
  background-color: #f7f9fb;
}
.template-fc-lightGray {
  color: #f7f9fb;
}
.template-bg-blue {
  background-color: #4b73ff;
}
.template-fc-blue {
  color: #4b73ff;
}
.template-bg-black {
  background-color: #0c0c1d;
}
.template-fc-black {
  color: #0c0c1d;
}
.template-bg-hero-image {
  background-image: url('/static/img/heroSecImg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}